CREATE TABLE IF NOT EXISTS site_theme ( id INTEGER PRIMARY KEY DEFAULT 1, theme_id TEXT NOT NULL DEFAULT 'royal-gold', name TEXT NOT NULL DEFAULT 'Royal Gold (Default)', gold TEXT NOT NULL, goldDark TEXT NOT NULL, goldLight TEXT NOT NULL, purple TEXT NOT NULL, purpleDark TEXT NOT NULL, purpleLight TEXT NOT NULL, amber TEXT NOT NULL, amberLight TEXT NOT NULL, bgPrimaryDark TEXT NOT NULL, bgSecondaryDark TEXT NOT NULL, bgCardDark TEXT NOT NULL, updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW() ); ALTER TABLE site_theme ENABLE ROW LEVEL SECURITY; CREATE POLICY "Site theme is public" ON site_theme FOR SELECT USING (TRUE); CREATE POLICY "Site theme managed by service role" ON site_theme FOR ALL USING (auth.role() = 'service_role');
